.sectorpage{
    padding-left: 20px;

}
.sector{
    color: rgb(48, 23, 130);

}
.sectorsinregion{
    display: flex;
}
.main{ display: flex;}
.sidebar {
    width: 220px;
    height: 1600px;
    background-color: gray;
    padding-top: 5px;
    
  }