.sourcepage{
padding-left: 10px;
}
.source{
    color: rgb(48, 23, 130);

}
.sourcedata{
}
.main{ display: flex;}
.sidebar {
    width: 220px;
    height: 1600px;
    background-color: gray;
    padding-top: 5px;
    
  }